<a href="https://colab.research.google.com/github/pillisrija/mlflaskapp/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
from google.colab import drive
drive.mount('/content/drive')

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Mounted at /content/drive

In [3]:
file_path = "/content/Titanic.csv"

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [4]:
titanic = pd.read_csv(file_path)

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [5]:
titanic

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [7]:
df=pd.get_dummies(titanic)
df.head()

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,False,False,True,False,False,True,False,True,True,False
1,False,False,True,False,False,True,False,True,True,False
2,False,False,True,False,False,True,False,True,True,False
3,False,False,True,False,False,True,False,True,True,False
4,False,False,True,False,False,True,False,True,True,False

In [8]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Class_1st, Age_Adult)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Class_Crew, Gender_Male)
15  0.402090                            (Class_Crew, Age_Adult)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Age_Adult, Gender_Male)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Age_Adult, Survived_Yes)
24  0.209905                (Age_Adult, Gender_Male, Class_3rd)
25  0.191731              (Gender_Male, Survived_No, Class_3rd)
26  0.216265                (Age_Adult, Survived_No, Class_3rd)
27  0.391640               (Class_Crew, Age_Adult, Gender_Male)
28  0.304407             (Class_Crew, Gender_Male, Survived_No)
29  0.305770               (Class_Crew, Age_Adult, Survived_No)
30  0.143571           (Age_Adult, Survived_Yes, Gender_Female)
31  0.603816              (Age_Adult, Gender_Male, Survived_No)
32  0.153567             (Age_Adult, Survived_Yes, Gender_Male)
33  0.175829   (Age_Adult, Gender_Male, Survived_No, Class_3rd)
34  0.304407  (Class_Crew, Age_Adult, Gender_Male, Survived_No)

In [9]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

/usr/local/lib/python3.11/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,1.0,0.004587,2.682493,0.037128,0.152050,0.627212,0.567012
1,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,1.0,-0.004492,0.588085,-0.041697,0.123346,-0.700435,0.520275
2,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,1.0,-0.020555,0.769177,-0.115514,0.264660,-0.300090,0.508503
3,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,1.0,-0.020008,0.442572,-0.093712,0.288807,-1.259519,0.593908
4,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,1.0,0.022745,1.281251,0.139592,0.316547,0.219513,0.551119
5,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
6,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,1.0,0.019913,inf,0.082827,0.423040,1.000000,0.711520
7,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,1.0,0.033569,1.348519,0.183616,0.395417,0.258446,0.606065
8,(Gender_Female),(Age_Adult),0.213539,0.950477,0.193094,0.904255,0.951370,1.0,-0.009870,0.517240,-0.061028,0.198877,-0.933340,0.553705
9,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,1.0,0.087312,2.525187,0.710327,0.410992,0.603990,0.607870
10,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,1.0,0.009870,1.051116,0.263149,0.773191,0.048630,0.879936
11,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,1.0,0.009870,1.339441,0.061028,0.773191,0.253420,0.879936
12,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,1.0,0.087312,1.523634,0.659783,0.734518,0.343674,0.851710
13,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,1.0,0.087312,2.525187,0.436144,0.734518,0.603990,0.851710
14,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,1.0,0.009900,1.419023,0.046906,0.670709,0.295290,0.826241
15,(Survived_Yes),(Age_Adult),0.323035,0.950477,0.297138,0.919831,0.967757,1.0,-0.009900,0.617734,-0.046906,0.304328,-0.618821,0.616225
16,"(Age_Adult, Class_3rd)",(Gender_Male),0.284871,0.786461,0.209905,0.736842,0.936909,1.0,-0.014135,0.811449,-0.086060,0.243671,-0.232363,0.501870
17,"(Gender_Male, Class_3rd)",(Age_Adult),0.231713,0.950477,0.209905,0.905882,0.953082,1.0,-0.010333,0.526181,-0.060217,0.215888,-0.900486,0.563362
18,"(Gender_Male, Class_3rd)",(Survived_No),0.231713,0.676965,0.191731,0.827451,1.222295,1.0,0.034870,1.872135,0.236717,0.267427,0.465850,0.555336
19,"(Survived_No, Class_3rd)",(Gender_Male),0.239891,0.786461,0.191731,0.799242,1.016252,1.0,0.003066,1.063667,0.021039,0.229722,0.059857,0.521516
20,"(Age_Adult, Class_3rd)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,1.0,0.023418,1.341344,0.151418,0.290067,0.254479,0.539317
21,"(Survived_No, Class_3rd)",(Age_Adult),0.239891,0.950477,0.216265,0.901515,0.948487,1.0,-0.011746,0.502848,-0.066686,0.222015,-0.988671,0.564524
22,"(Class_Crew, Age_Adult)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,1.0,0.075412,8.216621,0.322047,0.491448,0.878295,0.735995
23,"(Class_Crew, Gender_Male)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,1.0,0.019395,inf,0.081404,0.412046,1.000000,0.706023
24,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,1.0,0.087104,9.335480,0.371976,0.510059,0.892882,0.745554
25,"(Class_Crew, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,1.0,0.039280,1.450292,0.212110,0.398335,0.310484,0.613463
26,"(Class_Crew, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
27,(Class_Crew),"(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
28,"(Class_Crew, Age_Adult)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,1.0,0.033569,1.348519,0.183616,0.395417,0.258446,0.606065
29,"(Class_Crew, Survived_No)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,1.0,0.015143,inf,0.071335,0.321702,1.000000,0.660851
30,(Class_Crew),"(Age_Adult, Survived_No)",0.402090,0.653339,0.305770,0.760452,1.163946,1.0,0.043069,1.447145,0.235577,0.407879,0.308984,0.614232
31,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,1.0,0.081195,2.639542,0.700873,0.385366,0.621146,0.593987
32,"(Survived_Yes, Gender_Female)",(Age_Adult),0.156293,0.950477,0.143571,0.918605,0.966467,1.0,-0.004981,0.608425,-0.039500,0.149057,-0.643589,0.534828
33,"(Age_Adult, Gender_Male)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,1.0,0.091095,1.593193,0.621823,0.727024,0.372330,0.844593
34,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,1.0,0.089991,2.817152,0.429921,0.722283,0.645032,0.845982
35,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,1.0,0.014788,1.929980,0.064404,0.624824,0.481860,0.804809
36,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,1.0,0.089991,1.492710,0.697935,0.722283,0.330078,0.845982
37,(Survived_No),"(Age_Adult, Gender_Male)",0.676965,0.757383,0.603816,0.891946,1.177669,1.0,0.091095,2.245337,0.467023,0.727024,0.554633,0.844593
38,"(Survived_Yes, Gender_Male)",(Age_Adult),0.166742,0.950477,0.153567,0.920981,0.968967,1.0,-0.004918,0.626721,-0.037013,0.159359,-0.595605,0.541274
39,"(Age_Adult, Gender_Male, Class_3rd)",(Survived_No),0.209905,0.676965,0.175829,0.837662,1.237379,1.0,0.033731,1.989896,0.242806,0.247284,0.497461,0.548697
40,"(Age_Adult, Survived_No, Class_3rd)",(Gender_Male),0.216265,0.786461,0.175829,0.813025,1.033777,1.0,0.005745,1.142075,0.041690,0.212637,0.124401,0.518298
41,"(Gender_Male, Survived_No, Class_3rd)",(Age_Adult),0.191731,0.950477,0.175829,0.917062,0.964844,1.0,-0.006407,0.597105,-0.043136,0.181946,-0.674747,0.551026
42,"(Gender_Male, Class_3rd)","(Age_Adult, Survived_No)",0.231713,0.653339,0.175829,0.758824,1.161454,1.0,0.024442,1.437373,0.180935,0.247918,0.304286,0.513974
43,"(Survived_No, Class_3rd)","(Age_Adult, Gender_Male)",0.239891,0.757383,0.175829,0.732955,0.967746,1.0,-0.005860,0.908523,-0.042006,0.214049,-0.100687,0.482554
44,"(Class_Crew, Age_Adult, Gender_Male)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,1.0,0.039280,1.450292,0.212110,0.398335,0.310484,0.613463
45,"(Class_Crew, Age_Adult, Survived_No)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,1.0,0.063931,47.903983,0.302519,0.386390,0.979125,0.691301
46,"(Class_Crew, Gender_Male, Survived_No)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,1.0,0.015075,inf,0.071195,0.320268,1.000000,0.660134
47,"(Class_Crew, Age_Adult)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,1.0,0.055225,1.565346,0.303418,0.424319,0.361163,0.624132
48,"(Class_Crew, Gender_Male)","(Age_Adult, Survived_No)",0.391640,0.653339,0.304407,0.777262,1.189676,1.0,0.048533,1.556362,0.262074,0.411043,0.357476,0.621594
49,"(Class_Crew, Survived_No)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,1.0,0.072822,54.427079,0.344592,0.401198,0.981627,0.698731
50,(Class_Crew),"(Age_Adult, Gender_Male, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,1.0,0.061619,1.630802,0.338549,0.433938,0.386805,0.630600